<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
        <% title %>
        <h1>Welcome to the Echo Room </h1>

        <% if (user) { %>

            <%- include('messages', { user: user, messages: messages }) %>
            
            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
              </form>

              <a href="/member">Become a member</a>

        <% } else { %>
            <%- include('login') %>
        <% } %>

        <footer>
            <p>&copy; 2025 EchoRoom. All Rights Reserved.</p>
            <p>Created by <a href="https://github.com/salzahir" target="_blank">Salman</a></p>
            <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
        </footer>
            
</body>
</html>