<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
        <% title %>
        <h1>Welcome to the Echo Room </h1>

        <% if (user) { %>
            <h2>Welcome back, <%= user.username %>!</h2>

            <h2>Here are your messages:</h2>

            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
              </form>

            <p>Here are your messages:</p>

        <% } else { %>
            <%- include('login') %>
        <% } %>


</body>
</html>