
<h1>Welcome to member initation if correct password is entered </h1>

you will beocme a member of the echo room
<p>To become a member, please enter the correct password.</p>

<title><%= title %></title> 
<h1><%= message %></h1>

<form action="/member" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="password" name="password" placeholder="Enter the password" required>
    <button type="submit">Become a Member</button>
</form>

<p>Already a member? <a href="/">Login here</a></p>